@import url(/css/style.css);
:root {
  --color-primary-white: #fff;
  --color-primary: #d4d8d8;
  --color-secondary: #0d0d0d;
  --color-grey-light: #0e0d0d31;
  --color-grey-light-2: #737373;
  --color-grey-light-3: #404040;
  --color-grey-dark-1: rgb(0, 0, 0);
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgb(44, 41, 41);
  --shadow-dark: 0 5rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.16);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 1152px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 989px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  overflow-x: hidden;
}

div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

button {
  padding: 0.5rem 0rem;
  color: #d4d2d2;
  background-color: #fff;
  border: none;
  font-family: Lato, sans-serif;
  font-size: 2.4rem;
  line-height: 1.35;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0.2rem;
  transition: all 0.1s;
}

button:hover {
  color: #212020;
}

button:focus {
  color: #212020;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.car-links {
  background-color: #fff;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .car-link div{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;

} */

@media screen and (max-width: 768px) {
  .car-links {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .arrow {
    display: none;
  }
}

.logo-area {
  width: 100%;
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
@media screen and (max-width: 768px) {
  .logo-area {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.logo {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 12rem;
    height: 12rem;
  }
}


.ferrari {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 14rem;
  height: 14rem;
  /* logo menu size */
}

.ferrari-2 {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(-2%, 2%);
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.car-link {
  width: 100%;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}



.showcar {
  flex: 0 0 80%;
  height: 100%;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .showcar {
    display: none;
  }
}

.showcaronebyone {
  background-image: url(/css/img/37.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  min-height: 100%;
  min-width: 100%;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  right: 3rem;
  top: 2.5rem;
  background-color: #fff;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: rgb(41, 40, 40);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #fafafa;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0%;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0%;
  transform: rotate(-135deg);
}

/*----------------------------------------------------------------*/
/*-------------------------------TEAM------------------------------*/
/*----------------------------------------------------------------*/
.team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/css/img/50.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}


.team h1 {
  text-align: center;
}

