
:root {
  
  --color-primary-white: #fff;
  --color-primary: #d4d8d8;
  --color-secondary: #0D0D0D;
  --color-grey-light: #0e0d0d31;
  --color-grey-light-2: #737373;
  --color-grey-light-3: #404040;
  --color-grey-dark-1: rgb(0, 0, 0);
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgb(44, 41, 41);
  --shadow-dark: 0 5rem 6rem rgba(0,0,0,.4);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.16);
  --line: 1px solid var(--color-grey-light-2); 
}

* {
  margin: 0;
  padding: 0; 
  list-style: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
 }

html {
  box-sizing: border-box;
  font-size: 62.5%;
 }
 @media screen and (max-width: 1152px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 989px) {
  html {
    font-size: 45%;
  }
}


 body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-color: #fff;
  overflow-x: hidden;
}


/*----------------------------------------------------------------*/
/*-----------------------------Preload----------------------------*/  


 .ferrari {
  width: auto;
  height: 10rem;
}
.preload {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 12s ease-in-out;
  -webkit-transition: all 12s ease-in-out;
  -moz-transition: all 12s ease-in-out;
  -ms-transition: all 12s ease-in-out;
  -o-transition: all 12s ease-in-out;
  z-index: 1000;
}

.preload-finish{
  opacity: 0;
  pointer-events: none;
}
/*-------------------------------CONTAINER-GRID--------------------------------*/


.container {
  display: grid;
  grid-template-rows: 8vh 100vh 80vh 50vw 15vh 70vw 40vw 80vw 85vh  12vh 70vh 40vh 40vh 50vh;
  grid-template-columns: [full-start] minmax(6rem,1fr) [center-start]repeat(8,[col-start] minmax(min-content, 14em)[col-end])[center-end] minmax(6rem,1fr)[full-end];
 }
 @media only screen 
 and (min-device-width : 360px) 
 and (max-device-width : 1048px) 
 and (orientation : landscape)  {
   .container {
    grid-template-rows: 10vh 100vh min-content 60vh 15vh 70vh 60vh min-content min-content  12vh 70vh min-content min-content min-content;
 
   }
 }
 @media screen and (max-width: 168rem) {
  .container {
    grid-template-rows: 8vh 100vh 80vh min-content 15vh 60vw 40vw min-content 85vh  12vh 70vh 40vh 40vh 50vh;
 
  }
}

 @media screen and (max-width: 1444px) {
  .container {
    grid-template-rows: 8vh 100vh 80vh 90vw 15vh 70vw 50vw min-content 85vh  12vh 70vh min-content min-content 50vh;
 
  }
}
 @media screen and (max-width: 963px) {
  .container {
    grid-template-rows: 8vh 100vh 90vh 80vw 15vh 70vw 50vw min-content 85vh  12vh 70vh min-content min-content 50vh;
 
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 8vh 100vh 90vh min-content 15vh 90vw 80vh min-content min-content  12vh 70vh min-content min-content min-content;
 
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-rows: 6vh 100vh 100vh min-content 5vh min-content 80vh min-content 80vh  12vh 70vh min-content min-content min-content;
  }
}

@media screen and (max-width: 375px) {
  .container {
    grid-template-rows: 6vh 100vh 100vh min-content 5vh min-content 80vh min-content 70vh  12vh 70vh min-content min-content min-content;
  }
}



/*--------------------------------------------------------------
 animation-delay: 5s;
/*--------------------------------TYPOGRAPHY--------------------------------*/

.heading-1 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  font-weight:500;
  line-height: 1;
  letter-spacing: 4px;
  color: var(--color-primary-white);
  text-transform:uppercase;
  text-align: center;
  margin-bottom: 2rem;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in; 

}

.heading-2 {
  font-family: 'monument extended', sans-serif;
  font-size:2.2rem;
  font-weight:400;
  line-height: 1.5;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  color: var(--color-primary-white);
  text-transform:uppercase;
  cursor: pointer;
  margin-bottom: 2rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in; 

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  80% {
    transform: translateY(10px);
   }
  100% {
    opacity: 1;
    transform: translate(0);
   } }


.heading-3 {
  font-family: 'monument extended',Sans-serif;
  text-transform:initial;
  font-size:1.5rem;
  font-weight:300;
  letter-spacing: 2px;
  line-height: 2;
  color:rgb(78, 77, 77);
  margin-bottom: 2rem;
}


.heading-4 {
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-size:1.8rem;
  font-weight:600;
  letter-spacing: 4px;
  line-height: 2;
  color: var(--color-grey-dark-3);
  margin-bottom: 2rem;

}


.heading-5 {
  font-family: Sans-serif;
  text-transform:uppercase;
  font-size:1.3rem;
  font-weight:400;
  letter-spacing: 2.5px;
  line-height: 2;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.heading-5-1 {
  font-family: Sans-serif;
  text-transform:capitalize;
  font-size:1.6rem;
  font-weight:500;
  letter-spacing: 3px;
  line-height: 2;
  color: var(--color-grey-light-3);
  margin-bottom: 2rem;
}
.arrow-1 .heading-6 {
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-size:1.4rem;
  font-weight:400;
  letter-spacing: 2.5px;
  line-height: 2;
  color: var(--color-primary-white);
}


.plan-p{
  font-family: Sans-serif;
  text-transform:initial;
  font-size:1.4rem; 
   /* font-size:calc(1.4rem + 1vw); */
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 2;
  color: var(--color-secondary);
  margin-bottom: 4rem;
}


.btn {
  background-color: transparent;
  padding: 1rem 5rem ;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius:0;
  transition: all .2s;
   border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s;
  cursor: pointer;
  
}

.btn:hover {
  color: rgb(219, 214, 214);
  background-color: transparent;
}

#btn__active {
  color: rgba(231, 43, 43, 0.863);
  border-bottom: 2.5px solid rgb(231, 43, 43,0.863);
}


button:focus {
  outline: none;

} 


#black {
  color: var(--color-grey-dark-3);
  font-size: 3rem;
}


#black-1 {
  color: var(--color-grey-dark-3);
  font-size: 2.4rem;
  animation: none;
  letter-spacing: 1px;
  font-weight: 400;
}

#black-1 {
  color: var(--color-grey-dark-3);
  font-size: 2.4rem;
  animation: none;
  letter-spacing: 1px;
  font-weight: 400;
  
}



#white {
  color: var(--color-primary-white);
  font-size: 3rem;
  font-weight:500;
  letter-spacing: 1px;
  animation: none;
  -webkit-animation: none;
}

#white-p {
  color: var(--color-primary-white);
  font-size: 1.6rem;
  font-weight:500;
}
#white-pp {
  font-family: sans-serif;
  color: var(--color-primary-white);
  font-size: 1rem;
  font-weight:200;
  text-align: center;

}

#anima{
  animation: none;
}
/*----------------------------------------------------------------*/
/*--------------------------NAV-BAR-------------------------------*/

header {
  background-color: rgb(24, 24, 24);
  grid-column: full-start / full-end ;
  display:grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr;
  padding: 0 2rem;

}

.logo-area{
  grid-column: 7 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-now-x {
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;


}


@media screen and (max-width: 1224px) {
  .nav-now-x {
    grid-column: 1 / span 1;
    padding: 0rem;
    justify-content: center;
    align-items: center;
  }
}



.ttt li {
  width:14rem;
  float: left;
  text-align: center;
  padding: 8px;
  font-family: 'monument extended';
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight:400;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  line-height: 40px;
  cursor: pointer;
  transition: all 0.2 ease;

}

.ttt-menu  li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'monument extended';
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size:calc(1.8rem + 1.8vw);
  font-weight:400;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2 ease;
}


.ttt-menu li a:hover {
 color: red;
  
}

.ttt-menu li .hide li {
  display: none;
}

.ttt-menu li:hover .hide  li { 
  display: block;
  z-index: 2000;
}

.hide li {
  color: rgb(255, 255, 255);
}



@media screen and (max-width: 168rem) {
  .ttt li{
    width:12rem;
 
  }
}
@media screen and (max-width: 1447px) {
  .ttt li{
    width:8rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 1327px) {
  .ttt li{
    width:6rem;
    margin-left: 3rem;
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 1224px) {
  #somethod {
    display: none;
  }
}

@media screen and (max-width: 1225px) {
  .ttt li{
  display: none;
  }
}




ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;


}

ul li a:hover {
  color: rgb(114, 111, 111);

}

#fox {
  border-bottom: 2px solid #ffffff;
}

.logo  {
  height: 5rem;
}
.session-1 {
  position: relative;
  grid-column: full-start / full-end ;



}
.distortion {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

}


.txt {
  position: relative;

}
.wrapper {
  position: absolute;
  bottom:5%;
  left:50%;
  transform: translate(-50%, -5%);
  text-align: center;
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
  -o-transform: translate(-50%, -5%);

}

@media screen and (max-width: 425px) {
  .wrapper{
    width: 95vw;
  }
}
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 1048px) 
and (orientation : landscape) {
  .wrapper{
    width: 95vw;
  }
}


.circle{
  position: absolute;
  top: 5%;
  right: 0%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: none;
}

.search__icon {
  height: 5rem;
  width: 5rem;
  fill: #fff;

}

.bar {
  background-color:#f7f5f500;
  width: 10rem;
  height: 1.5px;
  border-left: .5px solid rgba(37, 36, 36, 0);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 1px transparent;
  transition: all 2s ;
  -webkit-transition: all 2s ;
  -moz-transition: all 2s ;
  -ms-transition: all 2s ;
  -o-transition: all 2s ;
}

 .bar span {
  height: 1.5px;
  float: left;
  background-color: #fff;

}

.html {
  width: 90%;
  animation: html5 2s infinite linear;
  -webkit-animation: html5 2s infinite linear;
}

@keyframes html5 {
  0%{
    width:0%;
  }
  50%{
    background-color:#b81717;
    width:50%;
  }
100%{
  background-color:#174ab8;
  width:100%;
}
}
/*----------------------------------------------------------------*/
.session-2 {
  max-width: 168rem;
  margin: 0 auto;
  background-color: var(--color-primary-white);
  grid-column: full-start / full-end ;
  padding: 4rem;
  display: flex;
  flex-direction:column;
  padding:  0 14rem;

}
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 1048px) 
and (orientation : landscape)  {
  .session-2,
  .session-5 {
    padding:  0 4rem;
  }
}

@media screen and (max-width: 524px) {
  .session-2 {
    padding:  0 4rem;
  }
}

.session-parte1{
  flex: 1;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
  
}


.session-parte2 {
  flex: 1;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;

}


.arrow {
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
}

.search__icon-3  {
  height: 3.5rem;
  width: 3.5rem;
  fill: #fff;
  cursor: pointer;
  border-radius: 50%;
  border: .5px solid #fff;

}


.search__icon-2 {
  height: 3.5rem;
  width: 3.5rem;
  fill: #000;
  border-radius: 50%;
  border: .5px solid var(--color-grey-dark-2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: -4px;
  margin-left: 1rem;
  cursor: pointer;
  animation: border 2s infinite linear;
  -webkit-animation: border 2s infinite linear;
  cursor: pointer;
}



.search__icon-2:hover {

  border: .5px solid var(--color-grey-dark-2);

}



@keyframes  border {
  0%{
    border: 2px solid rgb(136, 125, 125);
  }
  50%{
    border: 2px solid #7f887d;

  }
100%{
  border: 2px solid #a01717;

}
}



/*----------------------------------------------------------------*/
.items {
  grid-column: full-start / full-end ;

  display: flex;
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: none;
  transition:all .2s;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transform: scale(.98);
  -webkit-transform: scale(.98);
  -moz-transform: scale(.98);
  -ms-transform: scale(.98);
  -o-transform: scale(.98);
}

.item {
  width: 100%;
  height: 800px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.items {
  cursor: grabbing;
  cursor:-webkit-grabbing;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.item1,
.item2 {
  height: auto;
  width: 100%;
}

.img {
  opacity: 0.9;
  width: 800px;
  height: 800px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .img {
    opacity: 1;
  }
}

.img:hover {
	opacity: 1;
}

.search__icon-3 {
  grid-column: 6 / span 3;
  grid-row: 10 / span 1;
  fill: #fff;
  /*margin-left : 4rem;
  */}

.swipe {
  grid-column: full-start / full-end ;
  display: flex;
}

#swiper {
  flex: 1;
  justify-content:center;
  align-items:center; ;
}

  .search__icon-right {
    width: 4rem;
    height: 4rem;
    fill: rgb(8, 8, 8);
    transform-origin: 44% 50%;
    animation: rotate 7.5s infinite linear;
  }


    @keyframes rotate {
      10%, 90% {
        transform: translate3d(-80px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(20px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-40px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(80px, 0, 0);
      }
    }



/*----------------------------------------------------------------*/
.session-4 {
  grid-column: full-start / full-end ;
  background-image: url(/css/img//22.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: grid;  
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
.personal {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
  padding:  0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

}
@media screen and (max-width: 710px) {
  .personal  {
    grid-column: 1 / span 5;
  }
}
@media screen and (max-width: 610px) {
  .personal  {
    grid-column: 1 / span 8;
    grid-row: 2 / span 4;
  }
}


.arrow-1 {
  background-color: rgb(0, 0, 0);
  grid-column: 6 / span 3;
  grid-row: 14 / span 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 842px) {
  .arrow-1  {
    grid-column: 5 / span 4;
  }
}

@media screen and (max-width: 618px) {
  .arrow-1  {
    grid-column: 2 / span 6;
  }
}
@media screen and (max-width: 454px) {
  .arrow-1  {
    grid-column: 1 / span 8;
  }
}





/*----------------------------------------------------------------*/
.session-5 {
  grid-column: full-start / full-end ;
  max-width: 168rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding:  0 14rem;}

  @media screen and (max-width: 524px) {
    .session-5 {
      padding:  0 4rem;
    }
  }

.personal-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

}

/*----------------------------------------------------------------*/
.session-6 {
  grid-column: full-start / full-end ;
  padding:  0 14rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 582px) {
  .session-6  {
    padding: 0rem ;
  }
}


.menu  {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .menu {
   display: none;
  }
}


#menu-slide {
  height: 20rem;
  display: flex;
  flex-direction: row;
}

.menu-a {
  flex: 0 0 70%;
  display: flex;
  flex-direction: row;
}

.menu-1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  flex: 1;
}


@media screen and (max-width: 768px) {
  .menu-1 {
    flex-direction: column;
    align-items:center;
  }
}


.menu-1-txt {
 max-width: 500px;
  flex: 1;
  padding:0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


@media screen and (max-width: 989px) {
  .menu-1-txt {
    padding:0 2rem;
  }
}

@media screen and (max-width: 767px) {
.menu-1-txt {

    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.carousel-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  overflow: hidden;
  position: relative;

}
@media screen and (max-width: 504px) {
  .carousel-container{
    max-width: 350px;
  }
}


.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
  flex: 0 0 70%;
}
/*
@media screen and (max-width: 726px) {
  .carousel-slide {
    width: 400px;
    height: 350px;
  }
}
@media screen and (max-width: 582px) {
  .carousel-slide,
  .carousel-container,
  .imgx {
    width: 80%;
    height: 250px;
  }
}
@media screen and (max-width: 504px) {
  .carousel-slide,
  .carousel-container,
  .imgx {
    width: 100%;
    height: 250px;
  }
}
*/
@media screen and (max-width: 320px) {
  menu-1 {
    max-width: 480px;
    margin: 0 auto;
  }
}


.pagination {
  flex: 0 0 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imgx {
  height: 350px;
  width: 500px;
}

.search__icon-4 {
height: 2.2rem;
width: 2.2rem;
cursor: pointer;
}

#add__active {
  border: 1px solid rgb(90, 87, 87);
  border-radius: 50%;
}
#remove__active{
  border: none;
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

/*----------------------------------------------------------------*/
.session-7 {
  grid-column: full-start / full-end ;
  background-image: url(/css/img/24.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  transform: translateZ(0) scale(1.0,1.0);
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(8, 1fr);

}

.session-7:hover {
  animation: increase 60s linear 10ms infinite;
  -webkit-animation: increase 60s linear 10ms infinite;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s eas;
  -moz-transition: all .2s eas;
  -ms-transition: all .2s eas;
  -o-transition: all .2s eas;

}

@keyframes increase {
  0% { transform: scale(1);}
  100% { transform: scale(1.5);}
}



.personaly {
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 670px) {
  .personaly  {
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
    padding: 1.5rem;
  }
}


.heading-12,
.heading-13 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  font-weight:500;
  line-height: 1;
  letter-spacing: 4px;
  color: var(--color-primary-white);
  text-transform:uppercase;
  margin-bottom: 2rem;
}

.heading-13 {
  font-family: 'monument extended', sans-serif;
  font-size: 4.5rem;
  font-weight:600;

}

#whitea {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight:300;
  letter-spacing: 1px;
  text-transform:initial;

}

.arrow-11 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  padding:0 8rem;
 
}

@media screen and (max-width: 670px) {
  .arrow-11 {
    grid-column: 1 / span 8;
    grid-row: 12 / span 1;
    justify-content: center;
  }
}

.arrow-11 .heading-6 {
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-size:1.4rem;
  font-weight:400;
  letter-spacing: 3px;
  line-height: 2;
  color: var(--color-primary-white);
  cursor: pointer;
}
/*----------------------------------------------------------------*/
.session-8 {
  background-color: rgba(34, 33, 33, 0.829);
  grid-column: full-start / full-end ;
  display: grid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  text-align: center;  
}

#icon2fill {
  fill:#fff;
}
.heading-55 {
  font-family: 'monument extended', sans-serif;
  text-transform:uppercase;
  font-size:1.2rem;
  font-weight:400;
  letter-spacing: 3px;
  line-height: 2;
  color: var(--color-primary-white);
  margin-bottom: 2rem;


}

/*----------------------------------------------------------------*/
.session-9 {
  grid-column: full-start / full-end ;
  display: grid;  
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(8, 1fr);
}


.pic1 {
  background-image: url(/css/img/img-17.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  grid-column: 1 / span 8;
  grid-row: 1 / span 10;

  display: flex;
  justify-content: center;
  align-items: flex-end;

}
/*
.pic2 {
  background-image: url(/css/img/img-8.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  grid-column:  5/ span 4;
  grid-row: 1 / span 10;
} */

/*----------------------------------------------------------------*/
.footer {
  background-color: rgb(0, 0, 0);
  grid-column: full-start / full-end ;

  display: flex;
  flex-wrap:wrap ;
  flex-direction:row;
  justify-content:center;

  
}
.nav-down {
  width: 25rem;
  height: 25rem;
  display: flex;
  margin: 4rem auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-down  {
    height: 30rem;
    margin: 2rem auto;
  }
}

.nav-down  ul {
  list-style: none;
  color: #fff;
}

.nav-down  ul li  {
  text-align: center;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  text-transform:initial;
  font-size: 1.2rem;
  font-size:calc(1.2 + 1.5vw);
  font-weight:200;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.2 ease;

}

#show {
  font-size: 1.3rem;
  font-weight:600;

}

/*----------------------------------------------------------------*/
.footer-2 {
  background-color: rgb(0, 0, 0);
  grid-column: full-start / full-end ;

  display: flex;
  flex-wrap:wrap ;
  flex-direction:row;
  justify-content:center;
}

.icon-box-x {
  fill: #fff;
  height: 2rem;
  width: 2rem;
}
/*----------------------------------------------------------------*/
.footer-3 {
  background-color: rgb(0, 0, 0);
  grid-column: full-start / full-end ;

  display: flex;
  flex-direction: column;

}
.logo-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center;
}

.logo2 {
  height: 15rem;
  width: 5rem;
}

.footer-last-txt {
  padding: 0 14rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center;
}

hr {

  border-bottom: solid 1px;
  margin: 3rem 0;
}

  /*----------------------------------------------------------------*/

